Repository defenseunicorns/lula-action, changes with the owners that CODEOWNERS names for each.
All owners: @defenseunicorns/lula-dev, @brandtkeller, @mike-winberry, @CloudBeard, @meganwolf0, @jeff-mccoy

CODEOWNERS:

* @defenseunicorns/lula-dev

# Docs & examples
/adr/ @brandtkeller @mike-winberry @CloudBeard @meganwolf0
/docs/ @brandtkeller @mike-winberry @CloudBeard @meganwolf0
*.md @brandtkeller @mike-winberry @CloudBeard @meganwolf0

# Docs website
/website/ @brandtkeller @CloudBeard @mike-winberry @meganwolf0

# Core code
/src/ @brandtkeller @mike-winberry @CloudBeard @meganwolf0
/go.* @brandtkeller @mike-winberry @CloudBeard @meganwolf0
main.go @brandtkeller @mike-winberry @CloudBeard @meganwolf0

# Privileged pipeline files
/.github/ @brandtkeller @mike-winberry @CloudBeard @meganwolf0
/.gitignore @brandtkeller @mike-winberry @CloudBeard @meganwolf0
/.goreleaser.yaml @brandtkeller @mike-winberry @CloudBeard @meganwolf0
/renovate.json @brandtkeller @mike-winberry @CloudBeard @meganwolf0
/Makefile @brandtkeller @mike-winberry @CloudBeard @meganwolf0

# Additional privileged files
/CODEOWNERS @jeff-mccoy @brandtkeller
/LICENSE @jeff-mccoy @brandtkeller

add commitlint
  .github/workflows/commitlint.yml
  commitlint/commitlint.config.js
  commitlint/package-lock.json
  commitlint/package.json
  lint/action.yml
Owners: @brandtkeller, @mike-winberry, @CloudBeard, @meganwolf0, @defenseunicorns/lula-dev

release process
  .github/actions/golang/action.yml
  .github/actions/install-tools/action.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .goreleaser.yml
  renovate.json
Owners: @brandtkeller, @mike-winberry, @CloudBeard, @meganwolf0, @defenseunicorns/lula-dev

updating docs
  docs/community-and-contribution/release-process.md
  docs/community-and-contribution/triage-label.md
Owners: @brandtkeller, @mike-winberry, @CloudBeard, @meganwolf0

add triage label
  .github/workflows/triage-label.yaml
Owners: @brandtkeller, @mike-winberry, @CloudBeard, @meganwolf0

add scorecard
  .github/workflows/scorecard.yaml
Owners: @brandtkeller, @mike-winberry, @CloudBeard, @meganwolf0

release please manifest
  .release-please-manifest.json
Owners: @defenseunicorns/lula-dev

update readme version tracking
  README.md
  renovate.json
Owners: @brandtkeller, @mike-winberry, @CloudBeard, @meganwolf0

add pr/issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/tech_debt.md
  .github/pull_request_template.md
Owners: @brandtkeller, @mike-winberry, @CloudBeard, @meganwolf0

remove goreleaser
  .github/actions/golang/action.yml
  .github/actions/install-tools/action.yml
  .github/workflows/release.yml
  .goreleaser.yml
Owners: @brandtkeller, @mike-winberry, @CloudBeard, @meganwolf0, @defenseunicorns/lula-dev

remove go-releaser mentions
  docs/community-and-contribution/release-process.md
Owners: @brandtkeller, @mike-winberry, @CloudBeard, @meganwolf0

updated versioning in readme
  README.md
Owners: @brandtkeller, @mike-winberry, @CloudBeard, @meganwolf0
